<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bienvenido estimado <%=User.nombre%></h1>
    <p>tu email: <%=User.email%></p>
    <p>tu contraseña: <%=User.contraseña%></p>
    <p>tu ID: <%=User.id%></p>
</body>
</html>