<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrate</title>
</head>
<body>
  <h1><%=title%></h1>
  <form action="/insertUser" method="post">
    <input type="text" name="nombre" placeholder="nombre">
    <input type="email" name="email" placeholder="correo electronico">
    <input type="password" name="contrase単a" placeholder="contrase単a">
    <input type="password" name="Confirmcontrase単a" placeholder="confirmar contrase単a">
    <input type="submit" value="Registrar">
  </form>
  <a href="/">Volver al inicio</a>
</body>
</html>