extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/insertUser" method="post")
    | introduzca el nombre del usuario:
    input(type="text" name="nombre" length="50")
    br
    | Introduzca los apellidos del usuario: 
    input(type="text" name="apellidos" length="50")
    br
    | Introduzca el telefono del usuario:
    input(type="text" name="telefono" length="50")
    br
    input(type="submit" value="Guardar")
    input(type="reset" value="Limpiar")
    br
  a(href="/") Volver al inicio 